* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  border: 2px solid darkgoldenrod;
}

.title {
  text-align: center;
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  margin: 2rem;
  
}

.item {
  border: 2px solid darkgoldenrod;
  padding: 1.5rem;
  margin: 2rem;
}

.image {
  width: 50%;
  max-height: 230px;
}

.btn-container {
  width: 300px;
  margin: 0 auto;
}

.btn-category {
  margin: 0.5rem;
  border: 2px solid rgb(218, 166, 35);
  border-radius: 3px;
  background: goldenrod;
  color: white;
  font-size: 20px;
  
}